<!--HEADER-->
<header id="site-head">
    <div class="uk-container uk-container-expand uk-text-center">
        <div class="uk-grid">
            <div class="uk-width-1-3">
                <div style="float: left;"><img class="lazy" data-src="assets/ic-logo.svg" style="height: 40px;" data-uk-img> <h4 class="uk-text-bold" style="display: inline; margin-left: 15px; color: white;">BootCampNFTMinter</h4></div>
            </div>
            <div class="uk-width-expand">
                <div>Connected Principal ID: <br>{{ principal }}</div>
            </div>
            <div class="uk-width-1-3">
                <button class="uk-button uk-button-danger" style="float: right;" uk-toggle="target: #modal-mint">MINT NFT</button>
            </div>
        </div>
    </div>
</header>
<!--/HEADER-->
<div class="spacer"></div>