<div class="uk-card uk-card-default uk-card-body uk-width-1-3@m uk-text-center" style="margin: 10% auto;">
    <img class="lazy" data-src="assets/ic-logo.svg" style="width: 350px;" data-uk-img>
    <h2 class="uk-card-title uk-text-center">OOOOPS! You can't access our NFTs without authorization!</h2>
    <p class="uk-text-bold uk-text-center">Please connect with your plug wallet to be able to see and mint NFTs</p>
    <div class="uk-width-1-1">
        <button class="uk-button uk-button-danger" (click)="login()">CONNECT WITH YOUR PLUG WALLET</button>
    </div>
</div>